body { /*min-width:800px;*/ font-family: 'Helvetica CE','Arial CE',sans-serif; font-size: 12px; /*background-color: #fff; padding: 0; margin: 0;*/ }
h4 { font-size: 14px; font-weight: bold; color: green; margin-top: 20px; }
h5 { font-size: 16px; font-weight: bold; margin-top: 25px; text-decoration: underline; }
table caption { font-weight: bold; background-color:#acacac; color:white; font-size:14px; }
thead { font-size: 13px; font-weight: bold; color: green; }
/* td { text-align: left; } */
td a { text-decoration: none; color: black; }
td a:hover { text-decoration: underline; color: black; }

td { font-size: 12px!important; padding: 10px; }

table.header { width: 98%; }
td.logo { width: 80%; }
td.header { background-color:#acacac; color:white; font-size:14px; font-weight: bold; text-align: center; }
td.right { text-align: right; }

table.order { width: 100%; }
table.order tr td { width: 50%; }
table.order tr td.td100 { width: 100%; }
table.basket { width: 100%; }
table.basket thead { color: white; background-color: #acacac; font-weight: bold; font-size: 13px; }
table.basket thead  tr th { padding: 5px!important; }
table.basket tr td { width: 33%; }

#header { height: 178px; background-color: #acacac; border-radius: 5px; font-size: 12px; padding:0; margin-bottom: 30px; text-align: center; vertical-align: center; }
#header h1 { width: 100%; margin: 0; padding: 40px 20px 20px 20px; font-weight: bold; text-align: center; }
#header h3 { width: 100%; margin: 0; padding: 0 20px 0 20px; font-weight: bold; text-align: center; text-decoration: underline; }
#header .logo a { color: black; text-decoration: none; }
#footer { position: relative; width: 100%; font-size: 10px; color: #8c8c8c; /*padding: 0; margin: 0;*/ text-align: center; }

/*table#login { margin-top: 0px; }*/


#left_panel li { text-align: left; }
#right_panel { font-size: 12px!important; margin:0; padding: 20px; text-align: center; vertical-align: top; }

#footer a { color: #8c8c8c; }
#header td.logo { text-align: left; }
#header td.user { margin: 0 0 0 5px; text-align: right; }
#header a { color: white; }

#left_panel li { background-color: #f7f7f7; }
#left_panel li ul li { background-color: #ffffff; }

#right_panel a { color: black; }
#right_panel a img { border: none; }
#right_panel h4 { width: 100%; text-align: center; }
#right_panel table { font-size: 12px!important; }

textarea#content { height: 350px; }
#znaky { color: green; }


.category { margin: 0; }
.category .title { font-size: 13px; font-weight: bold; color: green; text-decoration: underline; }
.category a { color:black; text-decoration: none; }
.category a:hover { text-decoration: underline; }

.message { font-size: 13px; font-weight: bold;/* width: 173px; text-align: center;*/  }
.message a { color: black; text-decoration: none;  }
.message a:hover { text-decoration: underline; }
/* .ftglr-header { float: left;text-align: left; margin: 0; padding: 0; font-size: 14px; } */
.red { color: red; }
.green { color: green; }
.blue { color: blue; }
.bold { font-weight: bold; }
.left { text-align: left; }
.right { text-align: right; }
.grey { color: #8c8c8c; }
.lightgrey { color: #cecece; }
.margintop30 { margin-top: 30px; }
.lines { border-bottom: 1px solid black; border-top: 1px solid black; }
.center { margin-left: auto; margin-right: auto; text-align: center; }

.radio-horizontal span { display: inline; }
.radio-vertical span { display: block; margin-left: 20px; margin-bottom: 10px; }
.radio-vertical span label { margin-left: 10px; }

/* UZIVATELE */
td#asterisk { vertical-align: top; }
td#note { width: 220px; }

/* MESSAGES */
.alert { margin: 0 15px 10px 15px; }

/* FORMS */
form input.invalid { background-color: #ff9c9c; border-color: red; }
form select.invalid { background-color: #ff9c9c; border-color: red; }
form textarea.invalid { background-color: #ff9c9c; border-color: red; }
